body{
    font-family: 'Segoe UI';
    background: #fff;
    color: #1f1f1f;
    text-align: center;
    font-weight: bold;
}
#download {
    font-size: large;
}
a, a:visited {
    color: #1f1f1f;
    text-decoration: none;
}
a:hover, a:active {
    color: #858585;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #1f1f1f;
        color: #d1d1d1;
    }
    a, a:visited {
        color: #d1d1d1;
    }
    a:hover, a:active {
        color: #858585;
    }
}