body{
    font-family: 'Segoe UI';
    background: #fff;
    color: #1f1f1f;
    text-align: center;
    font-weight: bold;
}
#download {
    font-size: large;
}
a, a:visited {
    color: #1f1f1f;
    text-decoration: none;
}
a:hover, a:active {
    color: #858585;
}
input {
    padding: 5px;
    border-radius: 4px;
    border-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    outline: none;
    background-color: #e7e7e7;
}
input:focus{
    outline: none;
    background-color: #dbdbdb;
}
@media (prefers-color-scheme: dark) {
    body {
        background: #1f1f1f;
        color: #d1d1d1;
    }
    a, a:visited {
        color: #d1d1d1;
    }
    a:hover, a:active {
        color: #858585;
    }
    input{
        color: #fff;
        background-color: #272727;
    }
    input:focus{
        color: #fff;
        background-color: #303030;
    }
}

