@import url(global.css);
body{
    font-size: medium;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.options {
    vertical-align:middle;
    margin: 0 15%;
    text-align: left;
}
#download {
    opacity: 0;
}
input#widthHeight {
    margin: 5px;
    width: 5vh;
}
input[type="color"] {
    vertical-align:middle;
    width: 36px;    /* Set a fixed width */
    height: 36px;   /* Set a fixed height */
    cursor: pointer;    /* Change cursor to pointer to indicate clickability */
}
textarea#input {
    resize: none;
    width: 100%;
    height: 40vh;
    box-sizing: border-box;
    padding: 10px 20px;
}
#generate {
    background-color: #00000000;
    color: #1f1f1f;
    border: none;
    padding-top: 10px;
    font-weight: bold;
    font-size: medium;
}
@media (prefers-color-scheme: dark) {
    #generate, #download {
        color: #d1d1d1;
    }
}