@import url(global.css);
body{
    font-size: medium;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
#download {
    opacity: 0;
}
input#width, input#height {
    width: 55px;
}
.option:first-child {
    text-align: right;
    margin: 0 auto;
}
textarea{
    resize: none;
    width: 50%;
    min-height: 50%;
    padding: 10px 20px;
}
#generate {
    background-color: #00000000;
    color: #1f1f1f;
    border: none;
    padding-top: 10px;
    font-weight: bold;
    font-size: medium;
}
@media (prefers-color-scheme: dark) {
    #generate {
        color: #d1d1d1;
    }
}